<footer class="w-full mt-22 py-12">
  <section class="max-w-360 mx-auto">
    <span class="text-center block text-black/80"
      >Made by <a
        class="hover:underline hover:text-black/30"
        href="https://github.com/WVazquezDev"
        target="_blank"
        rel="noopener noreferrer">WVazquezDev</a
      ></span
    >
  </section>
</footer>
