---
import GitHub from "../icons/GitHub.astro";
---

<header class="w-full fixed">
  <nav class="max-w-360 mx-auto flex justify-end list-none p-5">
    <li>
      <a
        class="block rounded-full hover:bg-gray-800/10 active:bg-gray-800/30 p-1 transition duration-75 ease-initial"
        href="https://github.com/WVazquezDev/PackageJson_Generator"
        target="_blank"
        rel="noopener noreferrer"
      >
        <GitHub class="size-7" />
      </a>
    </li>
  </nav>
</header>
