---
import GitHub from "../icons/GitHub.astro";
---

<header class="w-full">
  <nav class="max-w-360 mx-auto flex justify-end list-none p-5">
    <li>
      <a href="#">
        <GitHub />
      </a>
    </li>
  </nav>
</header>
