---
import Hero from "../components/Hero.astro";
import JsonView from "../components/JsonView.astro";
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Package Generator">
  <main>
    <Hero />
    <JsonView />
  </main>
</Layout>
