---
import GitHub from "./icons/GitHub.astro";
---

<section class="max-w-360 mx-auto flex flex-col gap-y-5 p-18">
  <h1 class="text-center text-5xl font-semibold">PACKAGE JSON GENERATOR</h1>
  <div class="max-w-120 mx-auto">
    <p class="text-center text-pretty text-xl text-black/90">
      Generador de package.json que te permite personalizar fácilmente este
      archivo para utilizarlo en tu proyecto. <br />
      <span class="text-center text-xs text-gray-800/80 italic"
        >Nuevas funciones pronto</span
      >
    </p>
  </div>
  <div class="flex justify-center items-center">
    <a
      class="px-4 py-2 border rounded flex gap-x-1 hover:bg-black hover:text-white transition duration-75 active:scale-95"
      href="#"><GitHub /> Ir al Github</a
    >
  </div>
</section>
